extends layout
block content
    h1= 'Login'
    p Login - #{title}
    div.loginbox
    form(name="login", action="", method="post")
        input(type="text", name="username", placeholder="Username")
        br
        input(type="password", name="password", placeholder="Password")
        br
        input(type="submit", value="login")
